In [18]:
# import library pandas
import pandas as pd
# call the standfordsentimenttreesbank
data1= pd.read_csv('datasetSentences.txt',sep ='\t', header=None) 
data3= pd.read_csv('datasetSplit.txt',sep =',', header=None)
data5 = pd.read_csv('sentiment_labels.txt',sep ='|', header=None)
#delete column 1 in every column data
data2 = data1.drop(0,1)
data4 = data3.drop(0,1)
data6 = data5.drop(0,1)
#change column name in every column
data2.columns =['sentences']
data4.columns =['datasplit']
data6.columns =['Sentiment_value']
#delete first raw in every column
data2_drop = data2.drop(data2.index[0])
data4_drop = data4.drop(data4.index[0])
data6_drop = data6.drop(data4.index[0])
#merge all columns
data2['datasetsplit'] = data4_drop
data2_drop= data2.drop(data2.index[0])
data2_drop['sentimenvalue'] = data6_drop
#initialize data2_drop to data
data = data2_drop
#print data 
data

,sentences,datasetsplit,sentimenvalue
1,The Rock is destined to be the 21st Century 's...,1,0.5
2,The gorgeously elaborate continuation of `` Th...,1,0.5
3,Effective but too-tepid biopic,2,0.44444
4,If you sometimes like to go to the movies to h...,2,0.5
5,"Emerges as something rare , an issue movie tha...",2,0.42708
...,...,...,...
11851,A real snooze .,1,0.44444
11852,No surprises .,1,0.19444
11853,We 've seen the hippie-turned-yuppie plot befo...,1,0.61111
11854,Her fans walked out muttering words like `` ho...,1,0.72222
11855,In this case zero .,1,0.5